
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>ViewBag Data: @ViewBag.v1</p>
        <p>ViewData : @ViewData["v2"]</p>
        <p>Tempdata: @TempData["v3"]</p>
        <p>Session : @Session["v4"]</p>
    </div>
</body>
</html>
